{% extends "frame.html" %}

{% block container %}

	<ul class="breadcrumb">
		<li><a href="/playlist">Current Playlist</a> <span class="divider">/</span></li>
		<li class="active">Choose Song To Play</li>
	</ul>

	<h1>Choose Song To Play</h1>

	<form method="POST" action="/play-song">
			{% for song in songs %}
			<p><input type="radio" name="song" value="{{ song.id }}" {% if loop.first %}checked{% endif %}> {{ song.title }}</p>
			{% endfor %}
		<p>
		<button type="submit" class="btn">Play</button>
		</p>
	</form>

{% endblock %}
