<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<title>Streaming Music Kiosk</title>
		<style>
			body {
				padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */ }
		</style>

		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
	</head>

	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<span class="brand">Streaming Music Kiosk</span>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li{% if nav == "albums" %} class="active"{% endif %}><a href="{{ url_for('albums')}}">Albums</a></li>
							<li{% if nav == "playlist" %} class="active"{% endif %}><a href="{{ url_for('playlist') }}">Current Playlist</a></li>
							<li{% if nav == "stream" %} class="active"{% endif %}><a href="{{ url_for('stream') }}">Stream</a></li>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>

		<div class="container">
			{% block container %}{% endblock %}
		</div>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

		{% block javascript %}{% endblock %}
	</body>
</html>
