{% extends "frame.html" %}

{% block container %}

	<ul class="breadcrumb">
		<li class="active">Current Playlist</li>
	</ul>

	<h1>Current Playlist</h1>

	<p><a href="/choose-song">Choose Song To Play At</a></p>

	<hr>

	<h2>Edit Playlist</h2>

	<form method="POST" action="/remove-songs">
			{% for song in songs %}
			<p><input type="checkbox" name="songs" value="{{ song.id }}"> {{ song.title }}</p>
			{% endfor %}
		<p>
		<button type="submit" class="btn">Remove</button>
		</p>
	</form>

{% endblock %}
