{% extends "frame.html" %}

{% block container %}

	<ul class="breadcrumb">
		<li class="active">Current Playlist</li>
	</ul>

	<h1>Current Playlist</h1>

	<ul class="nav nav-list">
		<li class="nav-header">Playlist Operations</li>
		<li class="active"><a>Choose Playlist Operation</a></li>
		<li><a href="{{ url_for('edit_playlist')}}">Edit Playlist</a></li>
		<li><a href="{{ url_for('choose_song') }}">Choose Song To Play At</a></li>
		<li><a href="{{ url_for('save_playlist') }}">Save Playlist</a></li>
	</ul>

{% endblock %}

{% block javascript %}
	<script src="{{ url_for('static', filename='selection.js')}}"></script>
{% endblock %}
