{% extends "frame.html" %}

{% block container %}

	<ul class="breadcrumb">
		<li><a href="{{ url_for('playlist')}}">Current Playlist</a> <span class="divider">/</span></li>
		<li class="active">Choose Song To Play At</li>
	</ul>

	<h1>Choose Song To Play At</h1>

	<form method="POST" action="{{ url_for('play_song') }}">
		{% for song in songs %}
		<label class="radio">
			<input type="radio" name="song" value="{{ song.id }}" {% if loop.first %}checked{% endif %}> {{ song.title }}
		</label>
		{% endfor %}
		<button type="submit" class="btn">Play At Selected Song</button>
	</form>

{% endblock %}
