{% extends "frame.html" %}

{% block container %}

	<ul class="breadcrumb">
		<li><a href="{{ url_for('playlist')}}">Current Playlist</a> <span class="divider">/</span></li>
		<li class="active">Save Playlist</li>
	</ul>


	<h1>Save Playlist</h1>

	<ol>
		{% for song in songs %}
		<li>{{ song.title }}</li>
		{% endfor %}

	</ol>

	<form method="POST" action="{{ url_for('save_playlist') }}">
		<fieldset>
			<legend>Playlist Name</legend>
			<input type="text" name="playlist" required pattern="^[A-Za-z0-0]+$" placeholder="Playlist Name">
			 <span class="help-block">Letters and numbers only please.</span>
			<button type="submit" class="btn">Save Playlist</button>
		</fieldset>
	</form>

{% endblock %}
